@use "../config/variables" as *;
@use "../layout/screen" as *;

div.observations-widget {
    display: grid;

    grid-row: 2;

    grid-template-columns: repeat(6, calc(100% / 6));
    grid-template-rows: repeat(6, calc(100% / 6));

    height: 45vh;

    background-color: map-get($map: $colors, $key: body);

    @include screen-md {
        height: 40vh;
    }

    @include screen-sm {
        height: 35vh;
    }

    @include screen-xs {
        height: 35vh;
    }

    span {
        display: flex;

        justify-content: space-between;
        align-items: center;

        padding: 0 35px;
        margin: 10px 0;

        font-size: 1.6rem;
        font-weight: 600;

        @include screen-md {
            font-size: 1.4rem;
            padding: 0 30px;
        }

        @include screen-sm {
            font-size: 1.2rem;
            padding: 0 20px;
        }

        @include screen-xs {
            font-size: 1rem;
            padding: 0 10px;
        }

        color: map-get($map: $colors, $key: text);

        span {
            text-align: end;

            border-bottom: 2px solid map-get($map: $colors, $key: border);

            margin: unset;
            padding: unset;
        }
    }

    span.iconcode {
        grid-column: 1 / span 2;
        grid-row: 1 / span 3;

        margin: unset;
        padding-right: 100px;
        padding-bottom: 30px;

        justify-content: center;

        border-bottom-right-radius: 100%;

        border-right: 2px solid map-get($map: $colors, $key: border);

        background: linear-gradient(145deg, map-get($colors, icon-background), map-get($colors, body));

        box-shadow: 20px 20px 20px 10px rgba(map-get($colors, text), 0.04);

        @include screen-md {
            padding-right: 75px;

            img {
                width: 116px;
            }
        }

        @include screen-sm {
            padding-right: 55px;

            img {
                width: 96px;
            }
        }

        @include screen-xs {
            padding-right: 25px;

            img {
                width: 75px;
            }
        }
    }

    span.temperature {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;

        span {
            font-size: 4rem;

            @include screen-md {
                font-size: 3.5rem;
            }

            @include screen-sm {
                font-size: 3rem;
            }

            @include screen-xs {
                font-size: 2.5rem;
            }
        }

        i {
            font-size: 1.4rem;
        }
    }

    span.feeltemperature {
        grid-column: 3 / span 2;
        grid-row: 3;
    }

    span.dewpoint {
        grid-column: 3 / span 2;
        grid-row: 5;
    }

    span.winddirection {
        flex-direction: column;
        justify-content: space-evenly;

        grid-column: 5 / span 2;
        grid-row: 1 / span 3;

        span {
            font-size: 2.5rem;

            @include screen-md {
                font-size: 2rem;
            }

            @include screen-sm {
                font-size: 1.5rem;
            }

            @include screen-xs {
                font-size: 1.3rem;
            }
        }

        i {
            font-size: 3.5rem;

            @include screen-md {
                font-size: 3rem;
            }

            @include screen-sm {
                font-size: 2.5rem;
            }

            @include screen-xs {
                font-size: 2.5rem;
            }
            border: unset;
        }
    }

    span.windgusts {
        grid-column: 5 / span 2;
        grid-row: 4;
    }

    span.groundtemperature {
        grid-column: 3 / span 2;
        grid-row: 4;
    }

    span.humidity {
        grid-column: 3 / span 2;
        grid-row: 6;
    }

    span.precipitationmm {
        grid-column: 1 / span 2;
        grid-row: 6;
    }

    span.airpressure {
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    span.visibility {
        grid-column: 1 / span 2;
        grid-row: 5;
    }

    span.stationname {
        grid-column: 5 / span 2;
        grid-row: 5 / span 2;

        margin: 15px 0 0 0;

        background: linear-gradient(145deg, map-get($colors, body), map-get($colors, icon-background));

        border-left: solid 2px map-get($map: $colors, $key: border);
        border-top-left-radius: 75px;

        box-shadow: -20px -20px 20px 10px rgba(map-get($colors, text), 0.04);

        @include screen-md {
            border-top-left-radius: 50px;
        }

        @include screen-sm {
            border-top-left-radius: 45px;
        }

        @include screen-xs {
            border-top-left-radius: 35px;
        }

        span {
            border: unset;
        }
    }
}
